@import '../../styles/utils.module.scss';

.container{
    position: fixed;
    top: 0;
    // Don't remove z index, header gets hidden behind banner otherwise
    width: 100%;
    z-index: 1;
    height: $fs-header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 100ms ease;
    
    .avatar {
        height: inherit;
        .avatarMain{
            height: inherit;
            display: flex;
            align-items: center;

            &:hover{
                cursor: pointer;
            }
            
            .logo {
                height: inherit;
                border-radius: 50%;
                padding: 10px 15px 10px 30px;            
            }

            .labels {
                display: flex;
                flex-direction: column;
                
                h1 {
                    margin: 0;
                    padding: 0;
                    font-weight: $font-weight-normal;
                }
            }
        }
    }

    .navigation{
        .navigationDrawer{
            .navigationMenu {
                display: flex;
                justify-content: space-evenly;
                height: 100%;
                padding: 0 40px;
    
                .navigationMenuOption{
                    height: 100%;
                    margin: 0 20px;
                    font-size: $fs-small-text-font-size;
                    transition: all 100ms ease-in-out;
    
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

// Only to hide the hamburger button icon in main view
@media (min-width: $tb-max-width) {
    .container{
        .avatar{
            .HambugerButton{
                display: none;
            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        height: $tb-header-height;
        display: flex;
        flex-direction: column;
        
        .avatar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .avatarMain{
                .logo {
                    padding: 5px 15px 5px 10px;                
                }
        
                .labels {
                    h1 {
                        font-size: $tb-normal-text-font-size;
                    }
                }
            }
        }

        .navigation{ 
            .navigationDrawer{
                position: fixed;
                width: 100%;
                padding: 0;
                right: 0;
                top: $tb-header-height;
                transition: visibility 1s ease-in-out;
                animation: rollIn 100ms;
                animation-direction: normal;
                animation-fill-mode: both;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                background-color: rgba(0, 0, 0, 0.75);
                z-index: 2;

                .navigationMenu {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    .navigationMenuOption{
                        font-size: $tb-small-text-font-size;
                        width: 100%;
                        padding: 10px 0 10px 20px;
                        margin: 0;
                        border-top: 0.5px solid rgba($theme-secondary, 0.30);
                    }
                }
            }

            @keyframes rollIn {
                0% { opacity: 0; transform: translateY(-100%); }
                100% { opacity: 1; transform: translateY(0px); } 
             } 
        }
    }
}

@media (max-width: $sp-max-width) {
    .container{
        max-height: $sp-header-height;
        height: $sp-header-height;
        
        .avatar {
            .logo {
                padding: 5px 15px 5px 10px;                
            }
    
            .labels {
                h1 {
                    font-size: $sp-normal-text-font-size;
                }
            }
        }        
    }   
}