@import '../../styles/utils.module.scss';

.container{
    .banner{
        width: inherit;
        display: block;
        object-fit: cover;
        height: calc(100vh - 3 * var(--header-height));
    }

    .bannerText{
        height: calc(2 * var(--header-height));
        background-color: var(--theme-medium-light);
        justify-content: center;

        h1{
            font-size: var(--heading-2-font-size);
            margin: 0;    
            font-weight: var(--font-weight-normal);
            text-transform: uppercase;
        }
        
    }

    .intro{
        .container{
            h3{
                font-size: var(--heading-2-font-size);
                font-weight: var(--font-weight-normal);
                font-family: 'Source Sans Pro';
            }

            .aboutText{
                padding: 0 5%;
            }

            .profilePicture{
                margin-top: 5vh;
                max-height: 600px;
                max-width: 50%;
            }
        }
    }
}
