@import '../../styles/utils.module.scss';

.container{    
    .list{
        .card{
            .cardHeader{
                .title{
                    font-family: 'Source Sans Pro';
                    justify-content: space-between;    
                    align-items: stretch;
                    
                    .text{
                        h1{
                            margin: 5px 0;
                            font-size: var(--heading-3-font-size);
                            font-weight: var(--font-weight-normal);
                        }
            
                        h3{
                            margin: 5px 0;
                            font-size: var(--font-size-m);
                            font-weight: var(--font-weight-normal);
                        }
    
                        p{
                            margin: 10px 0;
                            font-size: var(--font-size-m);
                        }
                    }
    
                    .dates{
                        justify-content: space-between;
                        text-align: right;
                        font-size: var(--font-size-m);
                    }   
                }
            }

            .cardBody{
                padding: 20px 0;
                font-family: 'Source Sans Pro';

                .cardDivider{
                    height: 1px;
                    background-color: var(--theme-medium-light);
                }
            }
        }
    }
}


@media (max-width: $small-screen){
    .container{    
        .list{
            .card{
                .cardHeader{
                    .title{                        
                        .text{
                            h1{margin: 2px 0 }
                
                            h3{ margin: 3px 0 }
        
                            p{ margin: 7px 0 }
                        }
                    }
                }
    
                .cardBody{
                    padding: 20px 0;
                    font-family: 'Source Sans Pro';
                    font-size: var(--font-size-m);
                    
                    ul{
                        padding: 0 0 0 4vw;
                    }
                    .cardDivider{
                        height: 1px;
                        background-color: var(--theme-medium-light);
                    }
                }
            }
        }
    }
}