@import '../../styles/utils.module.scss';

.container{
    .list{
        max-width: 1128px;
        margin: auto;

        .card{
            font-family: 'Source Sans Pro';
            border: var(--theme-dark) solid 2px;
            padding: 0;

            .poster{
                max-width: 600px;
            }

            .text{
                padding: 0 50px;
                justify-content: center;
                
                h3{
                    font-size: var(--heading-2-font-size);
                    font-family: 'Fjalla One';
                }

                .tagContainer{
                    flex-wrap: wrap;
                    .tag{
                        border: 1px solid var(--theme-dark);
                        border-radius: 1em;
                        margin: 10px 10px;
                        padding: 5px 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .musicProjects{
        .projectCards{
            .projectCard{    
                .projectCardTitle{
                    max-width: 100%;
                }
    
                .projectCardText{
                    .tagContainer{
                        justify-content: center;
                        align-items: center;
                    }
                    margin-bottom: 20px;
                }
            }
        }
    }
}
