@import '../../styles/utils.module.scss';

.container {
    .title{
        margin: 50px 0 20px 0;
        width: 100%;
        font-weight: $font-weight-normal;
        display: block;
        text-align: center;
        font-size: $fs-heading-1-font-size;
        transition: all 100ms ease-in;

        &:hover{
            cursor: pointer;
        }
    }

    .educationList{
        display: flex;
        flex-direction: column;
        border-left: 1px dashed white;
        
        .educationCard{
            width: 100%;
            display: flex;
            flex-direction: column;
            // border: $theme-secondary solid 1px;
            border-radius: 0.5em;
            // margin: 30px auto;
            padding: 0 10px 10px 10px;
            overflow: hidden;

            .educationCardTitle{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .educationCardTitleText{
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: $fs-heading-3-font-size;
                        font-weight: $font-weight-normal;
                        margin: 10px 0;

                        &:hover{
                            cursor: pointer;
                            transform: scale(1.05);
                        }
                    }

                    h3{
                        margin: 0;
                        font-size: $fs-normal-text-font-size;
                        font-weight: $font-weight-light;
                    }

                    p {
                        margin: 10px 0;
                        font-size: $fs-normal-text-font-size;
                        font-weight: $font-weight-light;
                    }
                }

                .educationCardTitleDates{
                    padding-left: 0 0 0 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: $fs-normal-text-font-size;
                }
            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        .title{
            font-size: $tb-heading-1-font-size;
        }

        .educationList{           
            .educationCard{
                .educationCardTitle{                    
                    .educationCardTitleText{
                        h1{
                            font-size: $tb-heading-3-font-size;
                        }

                        h3{
                            font-size: $tb-normal-text-font-size;
                            font-weight: $font-weight-light;
                        }

                        p{
                            font-size: $tb-normal-text-font-size;
                            font-weight: $font-weight-light;
                        }
                    }
    
                    .educationCardTitleDates{
                        padding-left: 0 0 0 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

@media (max-width: $sp-max-width) {
    .container{
        .title{
            font-size: $sp-heading-1-font-size;
        }

        .educationList{
            width: 90%;
            margin: auto;
            .educationCard{    

                .educationCardTitle{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    .educationCardTitleText{
                        h1{
                            font-size: $sp-heading-3-font-size;
                            font-weight: $font-weight-normal;
                        }

                        h3{
                            font-size: $sp-normal-text-font-size;
                            font-weight: $font-weight-light;
                        }

                        p {
                            font-size: $sp-normal-text-font-size;
                            font-weight: $font-weight-light;
                        }
                    }
    
                    .educationCardTitleDates{
                        padding-left: 0 0 0 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 30%;
                        font-size: $sp-normal-text-font-size;
                    }
                }
            }
        }
    }
}