@import '../styles/utils.module.scss';

@keyframes zoomIn {
    from{
        filter: brightness(0%);
        transform: scale(1.3);
    }
    to {
        filter: brightness(40%);
        transform: scale(1);
    }
  }
  
@keyframes textZoomIn {
from {
    color: transparent;
}
to {
    color: inherit;
}
}

.appContainer{
  .header{
    position: fixed;
    width: 100%;
    top: 0;
    // Don't remove z index, header gets hidden behind banner otherwise
    z-index: 1;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 100ms ease;
    
    .avatar {
        height: inherit;
        .avatarBadge{
            height: inherit;
            display: flex;
            align-items: center;

            &:hover{
                cursor: pointer;
            }
            
            .logo {
                height: inherit;
                border-radius: 50%;
                padding: 10px 15px 10px 30px;
            }

            .labels {                
                h1 {
                    font-size: var(--heading-3-font-size);
                    font-weight: $font-weight-normal;
                }
            }
        }
    }

    .navigation{
        .navigationDrawer{
            .navigationMenu {
                display: flex;
                justify-content: space-evenly;
                margin-right: 40px;
    
                .navigationMenuOption{
                    margin: 0 20px;
                    font-size: var(--font-size-l);
                
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
  }

  .banner{
    position: relative;
    text-align: center;
    width: 100%;
    background-color: $background-color;
    overflow: hidden;
    max-height: 100vh;

    .bannerPic{
        position: relative;
        width: 100%;
        height: 100vh;
        filter: brightness(40%);
        object-fit: cover;
        // object-position: 50% 50%;
        animation: zoomIn 2000ms;
        animation-timing-function: ease-in-out
    };

    .bannerText{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: textZoomIn 2000ms;
        animation-timing-function: ease-in-out;

        .bannerHeading{
            font-size: var(--heading-1-font-size);
            font-weight: $font-weight-normal;        
        }
    
        .bannerSubHeading{
            font-size: var(--heading-2-font-size);
            font-weight: $font-weight-normal;
        }
    }
  }

  .container {
    width: var(--layout-container-width);
    max-width: 1128px;
    margin: 0 auto;
    min-height: calc(100vh - 2 * var(--header-height));
  }
}

.footerContainer{
    height: var(--footer-height);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    footer{
        text-align: center;
        font-size: var(--font-size-l);
    }
}

@media (max-width: $tb-max-width) {
  .appContainer{
    .header{
        .avatar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .avatarBadge{
                .logo {
                    padding: 5px 15px 5px 10px;                
                }
            }
        }

        .navigation{ 
            .navigationDrawer{
                position: fixed;
                width: 100%;
                padding: 0;
                right: 0;
                top: $tb-header-height;
                transition: visibility 1s ease-in-out;
                animation: rollIn 100ms;
                animation-direction: normal;
                animation-fill-mode: both;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                background-color: rgba(0, 0, 0, 0.75);
                z-index: 2;

                .navigationMenu {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    
                    .navigationMenuOption{
                        width: 100%;
                        margin: 0;
                        padding: 10px 0 10px 20px;
                        border-top: 0.5px solid rgba($theme-secondary, 0.30);
                    }
                }
            }

            @keyframes rollIn {
                0% { opacity: 0; transform: translateY(-100%); }
                100% { opacity: 1; transform: translateY(0px); } 
            } 
        }
    }  
  }
}
