@import '../styles/utils.module.scss';


.appContainer{
  width: 100%;
  margin: 0;

  .container {
    width: 80%;
    min-height: calc(100vh - 160px);
    margin: $fs-header-height auto 0;
  }
  
  .homeContainer {
    width: 100%;  
  }
}

@media (max-width: $tb-max-width) {
  .appContainer{
    .container {
      margin-top: $tb-header-height;
      min-height: calc(100vh - 120px);
      width: 100%;      
    }  
  }
}

@media (max-width: $sp-max-width) {
  .appContainer{
    .container {
    }  
  }
}