@import '../../styles/utils.module.scss';

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
        margin: 50px 0 20px 0;
        width: 100%;
        font-weight: $font-weight-normal;
        display: block;
        text-align: center;
        font-size: $fs-heading-1-font-size;

        transition: all 100ms ease-in;

        &:hover{
            cursor: pointer;
        }
    }

    .projectCards{
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        width: 100%;

        .projectCard{
            border: 1px solid $theme-secondary;
            margin: 10px 0;
            border-radius: 2rem;
            transition: all 0.2s ease;

            &:hover{
                cursor: pointer;
            }

            .projectCardHeader{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 40px;
                h3{
                    font-size: $fs-normal-text-font-size;
                    text-align: center;
                }

                span{

                }
            }
            
            .techStackTags{
                padding: 0 20px 20px;
                display: flex;
                flex-wrap: wrap;
                span{
                    margin: 10px 10px;
                    border: 1px solid $theme-secondary;
                    padding: 5px 10px;
                    border-radius: 2rem;
                }
            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        .title {
            margin-top: 30px;
            font-size: $tb-heading-2-font-size;
        }
    
        .projectCards{
            margin-top: 10px;
            max-width: 80%;
            flex-direction: column;            
            align-items: center;
    
            .projectCard{
                border: $theme-secondary solid 1px;
                border-radius: 2rem;
                padding: 10px;
                
                .projectCardHeader{
                    display: flex;
                    flex-direction: column;

                    h3{
                        font-size: $tb-normal-text-font-size;
                        font-weight: 400;
                        margin: 0;
                    }

                    span{
                        font-size: $tb-small-text-font-size;
                        font-weight: 100;
                    }
                }

                .techStackTags{
                    display: flex;
                    flex-wrap: wrap;
                    align-self: center;
                    justify-content: center;

                    span{
                        font-size: $tb-small-text-font-size;
                        border: 0.5px solid $theme-secondary
                    }
                }
            }
        }   
    }    
}

@media (max-width: $sp-max-width) {
    .container{
        .title {
            margin-top: $sp-header-height;
            font-size: $sp-heading-1-font-size;
        }
    
        .projectCards{
            margin-top: 10px;
            max-width: 80%;
            flex-direction: column;            
            align-items: center;
    
            .projectCard{
                border: $theme-secondary solid 1px;
                border-radius: 2rem;
                padding: 6px;
                
                .projectCardHeader{
                    display: flex;
                    flex-direction: column;

                    h3{
                        font-size: $sp-heading-2-font-size;
                        font-weight: 400;
                        margin: 0;
                    }

                    span{
                        font-size: $tb-small-text-font-size;
                        font-weight: 100;
                    }
                }

                .techStackTags{
                    display: flex;
                    flex-wrap: wrap;
                    align-self: center;
                    justify-content: center;
                    padding: 0;

                    span{
                        font-size: $tb-small-text-font-size;
                        border: 0.5px solid $theme-secondary
                    }
                }
            }
        }   
    }    
}