@import '../../styles/utils.module.scss';

.header{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 1;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--theme-dark);
    border-bottom: 1px solid var(--theme-light);
    color: var(--font-color-light);
    font-weight: 300;
    
    transition: all 100ms ease;

    .avatar {
        height: inherit;
        width: 100%;
        padding-left: 2vw;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        font-family: 'Source Sans Pro';
        font-size: var(--font-size-l);
        
        &:hover { cursor: pointer }
    }

    
    .navigationMenu {
        font-family: 'Source Sans Pro';
        display: flex;
        justify-content: space-evenly;
        margin-right: 40px;

        .navigationMenuOption{
            margin: 0 20px;
            font-size: var(--font-size-l);
        
            &:hover{
                cursor: pointer;
            }
        }
    }

    .navigationDrawer{ display: none }

}

@media (max-width: $small-screen) {
    .header{
        .avatar {
            font-size: var(--font-size-xl);
        }

        .navigationMenu{ display: none }

        .navigationDrawer{
            position: fixed;
            font-family: "Source Sans Pro";
            width: 100%;
            top: var(--header-height);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            background-color: var(--theme-dark);
            z-index: 1;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
                
            .navigationMenuOption{
                font-family: inherit;
                width: 100%;
                margin: 0;
                padding: 10px 0 10px 2vw;
                border-top: 0.5px solid var(--theme-light);
            }

        }
    }

    .hamburgerIcon{
        height: 100%;
        display: flex;
    
        button{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            height: 20px;
            width: 25px;
            margin: auto 20px;
            background-color: transparent;
            border: none;
    
            span{
                display: block;
                height: 15%;
                border-radius: 2rem;
                width: 100%;
                background-color: white;
            }
        }
    }
}
