@import '../../styles/utils.module.scss';

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 1;
    background-color: var(--theme-dark);
    border-bottom: 1px solid var(--theme-light);

    .content{
        width: var(--header-width);
        margin: auto;
        font-weight: var(--font-weight-light);
        justify-content: space-between;
        font-family: 'Source Sans Pro';
        font-size: var(--font-size-l);

        .avatar { &:hover { cursor: pointer } }
        
        .navigationMenu {
            .navigationMenuOption{
                margin: var(--nav-options-margin);
                
                &:hover{ cursor: pointer }
            }
        }
    
        .navigationDrawer{ display: none }
    }
}

@media (max-width: $small-screen) {
    .header{
        width: 100%;
        .content{
            .avatar { 
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-size: var(--font-size-xl); 
            }

            .navigationMenu{ display: none }

            .navigationDrawer{
                position: fixed;
                top: var(--header-height);
                left: 0;
                right: 0;
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                background-color: var(--theme-dark);
                z-index: 1;
                // Must be here to override the display: none value from large screen
                display: flex;
                margin: 0;
                padding: 0;
                    
                .navigationMenuOption{
                    font-family: inherit;
                    width: 100%;
                    margin: 0;
                    padding: 10px calc((100% - var(--header-width))/2);
                    border-top: 0.5px solid var(--theme-light);
                }

            }
        }
    }

    .hamburgerIcon{
        height: 100%;
        display: flex;
    
        button{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            height: 20px;
            width: 25px;
            margin: auto;
            background-color: transparent;
            border: none;
    
            span{
                display: block;
                height: 15%;
                border-radius: 2rem;
                width: 100%;
                background-color: white;
            }
        }
    }
}
