@import '../../styles//utils.module.scss';

.container{
    display: block;

    button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        height: 20px;
        width: 25px;
        margin: auto 20px;
        background-color: transparent;
        transition: all 200ms ease-in-out;
        border: none;

        span{
            display: block;
            height: 15%;
            border-radius: 2rem;
            width: 100%;
            background-color: white;
        }
        
    }
}