@import '../../styles/utils.module.scss';

.container{
    height: $fs-footer-height;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    footer{
        text-align: center;
        font-size: $fs-normal-text-font-size;
    }
}


@media (max-width: $tb-max-width) {
    .container{
        height: $tb-footer-height;

        footer{
            font-size: $tb-normal-text-font-size;
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        height: $sp-footer-height;

        footer{
            font-size: $sp-normal-text-font-size;
        }
    }
}