@import '../../styles/utils.module.scss';

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
        margin: 50px auto 20px auto;
        width: 100%;
        font-weight: $font-weight-normal;
        display: block;
        text-align: center;
        font-size: $fs-heading-1-font-size;

        transition: all 100ms ease-in;

        &:hover{
            cursor: pointer;
        }
    }

    .projectCards{
        display: flex;
        flex-direction: column;
        margin: 40px 40px;
        width: 100%;

        .projectCard{
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            border: $theme-secondary solid 2.5px;
            border-radius: 50px;
            color: white;
            transition: all 0.2s ease;
            font-size: $fs-heading-3-font-size;
            overflow: hidden;
            max-height: 500px;

            .projectCardTitle{
                padding: 0;
                margin: 0;
                width: 50%;
                max-height: 500px;
                max-width: 600px;
                object-fit: scale-down;
            }

            .projectCardText{
                display: flex;
                flex-direction: column;
                padding: 0 50px;
                justify-content: center;
                
                h3{
                    font-size: $fs-heading-3-font-size;
                    transition: all 50ms ease-in-out;

                    &:hover{
                        text-decoration: underline;
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }

                p{
                    overflow: scroll;
                    text-align: justify;
                    padding-right: 10px;
                    margin: 0;
                    font-size: $fs-small-text-font-size;
                    max-height: 160px;
                }

                .tagContainer{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 10px 0;

                    .tag{
                        border: $theme-secondary solid 1px;
                        border-radius: 1em;
                        
                        margin: 10px 10px;
                        padding: 5px 15px;
                        font-size: $fs-small-text-font-size;
                        transition: all 0.1s ease;

                        &:hover{
                            transform: scale(1.05);
                            background-color: $theme-secondary;
                            color: black;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: $tb-max-width) {
    .container{
        .title {
            width: 80%;
            font-size: $tb-heading-1-font-size;
        }
    
        .projectCards{
            display: flex;
            flex-direction: column;
            margin: 20px 40px;
            width: 80%;
    
            .projectCard{
                flex-direction: column;
                align-items: center;
                font-size: $tb-heading-3-font-size;
                max-height: none;
    
                .projectCardTitle{
                    width: 100%;
                }
    
                .projectCardText{
                    flex-direction: column;
                    padding: 0 15px;
                    justify-content: center;
                    
                    h3{
                        margin: 15px 0;
                        font-size: $fs-heading-3-font-size;
                    }
    
                    p{
                        text-align: justify;
                        overflow: scroll;
                        margin: 0;
                        font-size: $tb-small-text-font-size;
                    }
    
                    .tagContainer{
                        justify-content: center;
                        align-items: center;
    
                        .tag{
                            border: $theme-secondary solid 1px;
                            border-radius: 1em;
                            margin: 10px 10px;
                            padding: 5px 15px;
                            font-size: $tb-small-text-font-size;
                            transition: all 0.1s ease;
    
                            &:hover{
                                cursor: pointer;
                                transform: scale(1.05);
                                background-color: $theme-secondary;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: $sp-max-width) {
    
}
