@import '../styles/utils.module.scss';

.container{
    .educationCard{
        border: 1px solid var(--theme-secondary-color);
        border-radius: 2rem;
        padding: 40px;
        min-height: 400px;

        .educationCardHeader{
            display: flex;
            justify-content: space-between;

            .educationCardLogo{
                img{
                    height: 200px;
                    border: 1px solid var(--theme-secondary-color);
                    border-radius: 1rem;   
                    overflow: hidden;
                }
            }            
        }

        .educationCardText{
            text-align: right;

            .educationCardDates{
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;
                span{
                    font-weight: var(--font-weight-light);
                }
                
            }

            .educationCardTitle{
                margin-bottom: 25px;
                h2{
                    font-size: var(--heading-2-font-size);
                    font-weight: var(--font-weight-normal);
                    margin: 0;
                }

                .educationCardSchoolLocation{
                    font-size: var(--font-size-l);
                    font-weight: var(--font-weight-light)
                }

                h3{
                    font-size: var(--font-size-l);
                    font-weight: var(--font-weight-normal);
                    margin: 10px 0 0;
                }
            }
        }

        .educationCardBody{
            .educationCardBodyCourses{
                margin: 10px 0;

                .educationCardBodyCoursesList{
                    display: flex;
                    flex-direction: row-reverse;

                    span{
                        border: 1px solid var(--theme-secondary-color);
                        margin: 0 10px;
                        font-size: var(--font-size-s);
                        padding: 5px 10px;
                        border-radius: 1rem;
                        flex-wrap: wrap;
                    }
                }
            }

            .educationCardBodyDescription{
                text-align: justify;
                font-size: var(--font-size-m);
            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        .educationCard{
            padding: 30px;
            .educationCardHeader{
                flex-direction: column;
                align-items: center;

                .educationCardLogo{
                    img{
                        max-height: 200px;
                    }
                }

                .educationCardText{
                    text-align: center;
                    margin-top: 15px;
    
                    .educationCardDates{
                        flex-direction: row;
                        justify-content: center;
                    }
                }
            }

            .educationCardBody{
                .educationCardBodyCourses{
                    .educationCardBodyCoursesList{
                        flex-wrap: wrap;
                        justify-content: center;

                        span{
                            margin: 10px;
                            text-align: center;
                            font-size: var(--font-size-m);
                        }
                    }
                }
            }
        }
    }
}