@import '../styles/utils.module.scss';

.container{
    .projectCard{
        border: 1px solid var(--theme-secondary-color);
        border-radius: 2rem;
        overflow: hidden;

        .cardHeader{
            // width: 100%;
            display: flex;
            flex-direction: column;
            
            .cardHeaderBanner{
                width: 100%;
            }

            .cardHeaderText{
                background-color: var(--theme-secondary-color);
                color: black;
                text-align: center;
                h2{
                    font-size: var(--heading-2-font-size);
                    font-weight: var(--font-weight-normal);
                }

                .cardHeaderDates{
                    font-size: var(--font-size-l);
                    margin: 0 0 20px
                }
            }
        }

        .cardBody{
            .cardBodyText{
                padding: 0 40px;

                p{
                    text-align: justify;
                    font-size: var(--font-size-l);
                }

            }

            .cardBodyItems{
                padding: 20px 40px;
                display: flex;
                justify-content: space-between;

                .cardBodyItem{
                    .cardBodyItemHeading{
                        margin: 0;
                        font-size: var(--heading-3-font-size);
                    }

                    ul{
                        margin: 0;
                        padding: 3% 0 0;

                        a{
                            text-decoration: underline;
                            color: white;
                            
                            &:hover{
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }

                        li{
                            list-style-position: inside;
                            font-size: var(--font-size-m);
                            margin: 10px 0;
                        }
                    }
                } 
            }
        }
    }
}

@media (max-width: $tb-max-width){
    .container{
        .projectCard{

            .cardBody{
                .cardBodyText{
                    padding: 0 20px;
                }

                .cardBodyItems{
                    padding: 0 20px;
                    flex-direction: column;

                    .cardBodyItem{
                        margin-bottom: 10px;

                        ul{
                            padding: 0 0 0 2%;
                        }
                    }
                }
            }
        }
    }
}