@import '../styles/utils.module.scss';

.container{
    width: $fs-page-container-width;
    max-width: 1280px;
    margin: auto;
}

@media (max-width: 600px) {
    .container{
        width: $tb-page-container-width;
    }
    
}

@media (max-width: 600px) {
    .container{
        width: $sp-page-container-width;
    }
}