@import '../styles/utils.module.scss';

.container {
    .musicCard{
        margin: 0 auto;
        border: 1px solid var(--theme-secondary-color);
        border-radius: 2rem;
        overflow: hidden;
        max-width: 960px;
            
        .cardHeader{
            text-align: center;
            h2{
                font-size: var(--heading-2-font-size);
                font-weight: var(--font-weight-normal);
            }

            img{
                max-width: 100%;
            }
        }

        .genreTags{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
            
            span{
                margin: 10px 10px;
                border: 1px solid var(--theme-secondary-color);
                font-size: var(--font-size-m);
                padding: 10px;
                border-radius: 1rem;
            }
        }

        .cardBody{
            .cardBodyText{
                padding: 30px;
                font-size: var(--font-size-m);
                text-align: justify;
            }

            .cardBodyMembers{
                padding: 0 30px;
                h3{
                    text-align: center;
                    font-size: var(--heading-3-font-size);
                }
                
                .musicMember{
                    border: 1px solid var(--theme-secondary-color);
                    border-radius: 1rem;
                    margin: 15px 0;
                    padding: 14px;

                    .musicMemberHeader{
                        display: flex;
                        justify-content: space-between;

                        span{
                            font-size: var(--font-size-l);
                        }

                        &:hover{
                            cursor: pointer;
                        }
                    }

                    .musicMemberBody{
                        .musicMemberArtForms{
                            display: flex;
                            flex-wrap: wrap;
                            margin: 10px 0;

                            span{
                                margin: 10px 20px 10px 0;
                                padding: 5px 10px;
                                border: 1px solid $theme-secondary;
                                border-radius: 1rem;
                                font-size: var(--font-size-m);
                            }
                        }

                        .musicMemberLinks{
                            
                            text{
                                font-size: var(--font-size-m);
                            }

                            ul{
                                padding: 0 0 0 3%;
                                li{
                                    margin: 0 0 10px;
                                    font-size: var(--font-size-m);
                                    a{
                                        text-decoration: underline;
                                        color: white;
                                    }
                                }
                            }
                            

                        }
                    }
                }
            }

            .cardBodyProjects{
                padding: 0 30px;
                
                h3{
                    text-align: center;
                    font-size: var(--heading-3-font-size);
                }

                .musicProject{
                    margin: 30px 0;
                    border: 1px solid var(--theme-secondary-color);
                    border-radius: 1rem;
                    padding: 0 30px;

                    .musicProjectHeader{
                        h3{
                            font-size: var(--heading-3-font-size);
                            text-align: left;
                        }

                        .musicProjectGenre{
                            display: flex;
                            flex-wrap: wrap;
                            span{
                                margin: 0 20px 10px 0;
                                padding: 5px;
                                border: 1px solid $theme-secondary;
                                border-radius: 0.5rem;
                                font-size: var(--font-size-s);
                            }
                        }
                    }

                    .musicProjectEmbed{
                        display: flex;
                        justify-content: center;
                        margin: 20px 0;

                        iframe{
                            width: 60%;
                            height: 300px;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        .musicCard{
            .cardBody{
                .cardBodyText{
                    padding: 15px;
                }

                .cardBodyMembers{
                    padding: 0 15px;
                }

                .cardBodyProjects{
                    padding: 0 15px;
                    .musicProject{
                        padding: 0 15px;

                        .musicProjectEmbed{
                            iframe{
                                width: 100%;
                                height: 350px;
                            }
                        }
                    }
                }
            }
        }
    }   
}