@import '../styles/utils.module.scss';

.container{        
    .workExperienceCard{
        border: 1px solid var(--theme-secondary-color);
        border-radius: 2rem;
        padding: 40px;
        
        .cardHeader{
            display: flex;
            justify-content: space-between;
            
            .cardHeaderText{
                h2{
                    margin: 0 20px 10px 0;
                    font-size: var(--heading-2-font-size);
                    font-weight: var(--font-weight-normal);
                }

                span{
                    font-size: var(--font-size-xl);
                    font-weight: var(--font-weight-light);
                }

                .cardHeaderDates{
                    margin-top: 10px;
                    span{
                        font-size: var(--font-size-l);
                    }
                }
            }

            .cardHeaderLogo{
                img{
                    max-height: 150px;
                    border: 1px solid var(--theme-secondary-color);
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }

        .cardBody{
            margin: 20px auto 0;
            
            .heading{
                font-size: var(--font-size-l);
            }

            ul{
                padding-left: 2%;
                li{
                    font-size: var(--font-size-m);
                    list-style-position: outside;
                    list-style-type: square;
                }

            }
        }
    }
}

@media (max-width: $tb-max-width) {
    .container{
        .workExperienceCard{
            padding: 30px;

            .cardHeader{
                flex-direction: column-reverse;
                align-items: center;

                .cardHeaderText{
                    h2{
                        margin: 0 0 10px 0;
                    }
                }

                .cardHeaderLogo{
                    margin-bottom: 20px;
                }
            }

            .cardBody{
                ul{
                    padding-left: 6%;
                    text-align: justify;
                }
            }
        }
    }
}