@import "../../styles/utils.module.scss";


.skills_graph{
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    width: $fs-skills-graph-width;

    dl{
        width: 100%; padding: 0; margin: 0;
    }
  
    .title {
        margin: 0 0 20px 0;
        width: 100%;
        font-weight: 400;
        display: block;
        text-align: center;
        font-size: $fs-heading-1-font-size;
    }

    .skills_graph_container{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;    
        
        .entry{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
    
            .label {
                font-size: $fs-normal-text-font-size;
                width: 100%;
                padding: 30px 0 0 0;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
            }
            
            .barContainer{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                height: 640px;
                border-top: 1px solid white;
                background: repeating-linear-gradient(
                    to top,
                    #ddd,
                    #ddd 2px,
                    black 1px,
                    black 10%
                );
    
                .barBeam{
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    @media (min-width: 1025px) {
                        width: 35%;                        
                    }
                    justify-content: flex-start;
                    max-height: inherit;
                    transition: all 0.2s ease;
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    overflow: hidden;
                    filter: brightness(75%);
                    &:hover{
                        filter: brightness(100%);
                        cursor: pointer;
                    }

                    .barStep {
                        background-color: $theme-secondary;
                        background: repeating-linear-gradient(to left top,$theme-secondary, $theme-secondary 20px,black 50%);
                        height: 0;
                        width: 100%;
                        animation: widthRise 50ms;
                        animation-fill-mode: forwards;   
                    }

                    .barStep_max {
                        background-color: $theme-secondary;
                        background: repeating-linear-gradient(to left top,$theme-secondary, $theme-secondary 20px,black 50%);
                        height: 0;
                        width: 100%;
                        animation: widthRise 50ms;
                        animation-fill-mode: forwards;   
                    }

                    @keyframes widthRise {
                        from {
                            height: 0;
                        }
                        to {
                            height: 1.996rem;
                        }
                    }
                }
            }
        }
    }    
}


@media (max-width: $tb-max-width) {
    .skills_graph{
        width: $tb-skills-graph-width;

        .title {
            font-size: $tb-heading-1-font-size;
        }
    
        .skills_graph_container{
            flex-direction: column;        
            
            .entry{
                flex-direction: row;
                width: 100%;
        
                .label {
                    font-size: $tb-normal-text-font-size;
                    padding: 0 0 0 10px;
                    justify-content: start;
                    color: black;
                    z-index: 1;
                }
                
                .barContainer{
                    position: absolute;
                    height: 60px;
                    max-width: 90%;
                    border-top: none;
                    border-right: 1px solid white;
                    background: repeating-linear-gradient(
                        to right,
                        #ddd,
                        #ddd 2px,
                        black 1px,
                        black 10%
                    );

                    .barBeam{
                        flex-direction: row;
                        height: inherit;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        width: 100%;                        

                        .barStep {
                            // background: repeating-linear-gradient(to left top,$theme-secondary,$theme-secondary 40%,black 50%,black 50%);
                            height: 70%;
                            width: 0;
                            animation: widthRise 50ms;
                            animation-fill-mode: forwards;    
                        }

                        .barStep_max {
                            // background: repeating-linear-gradient(to left top, $theme-secondary,$theme-secondary 40%,black 50%,black 50%);
                            height: 70%;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                            width: 0;
                            animation: widthRise 50ms;
                            animation-fill-mode: forwards;    
                        }

                        @keyframes widthRise {
                            from {
                                width: 0;
                            }
                            to {
                                width: 5%;
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media (max-width: $sp-max-width) {
    .skills_graph{
        width: $sp-skills-graph-width;
      
        .title {
            font-size: $sp-heading-1-font-size;
        }
    
        .skills_graph_container{
            .entry{
                .label {
                    font-size: $sp-normal-text-font-size;
                  }
                
                .barContainer{
                    height: 40px;
                }
            }
        }    
    }
}